.goods-list {
  margin-top: 89px;
  .unit {
    width: 32.5%;
    float: left;
    position: relative;
    margin-bottom: 85px;
    &:nth-child(3n+2) {
      margin: 0 1.25%;
    }
    .mask {
      width: 100%;
      position: relative;
      z-index: 100;
      img {
        width: 100%;
        display: block;
      }
    }
    .visual {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid white;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      .text {
        font-family: Novito;
        font-size: 28px;
        color: white;
        letter-spacing: 0.93px;
        line-height: 28px;
        text-transform: uppercase;
        padding: 0 5.2%;
        text-align: center;
        padding-top: 17%;
        height: 110%;
        box-sizing: border-box;
        background-color: rgba(0,0,0,.6);
        opacity: 0;
        transition: all .2s ease;
        top: -10px;
        position: relative;
        @include max-screen(1180px) {
          font-size: 20px !important;
          line-height: 24px !important;
        }
        @include max-screen(1140px) {
          font-size: 18px !important;
          p {
            margin-bottom: 10px;
          }
        }
        @include max-screen(1040px) {
          font-size: 16px !important;
          padding-top: 16% !important;
          line-height: 16px !important;
          p {
            margin-bottom: 0px;
          }
        }
        .price {
          font-family: NovitoNova-Regular;
          line-height: 36px;
          font-size: 30px;
          @include max-screen(1140px) {
            font-size: 20px;
          }
        }
      }
    }
    &:hover {
      .visual {
        .text {
          opacity: 1;
          top: 0;
          height: 100%;
        }
      }
    }
    &.new {
      &:before{
        background: url('../images/ico-new.svg');
        content: '';
        display: block;
        position: absolute;
        width: 56px;
        height: 56px;
        top: -9px;
        left: 12px;
        z-index: 150;
        @include max-screen(1040px) {
          top: -20px;
        }
      }
    }
    &:nth-child(2n) {
      .mask {
        img {
          transform: scale(-1, 1);
        }
      }
    }
    &:nth-child(3n) {
      .mask {
        img {
          transform: scale(1, -1);
        }
      }
    }
    &:nth-child(6n) {
      .mask {
        img {
          transform: scale(-1, -1);
        }
      }
    }
  }
}

.catalog-detail {
  margin-top: 36px;
  .left {
    width: 50%;
    float: left;
    .slider-wrapper {
      margin: 0;
      &.fly {
        position: absolute;
        z-index: 1000;
        @include transition(all .5s ease-out);
        opacity: 1;
        border-radius: 150px 130px 170px 160px;
        //border-radius: 200px;
        &.end {
          @include transform(scale(0.5) rotate(180deg));
          opacity: 0 !important;
        }
      }
    }
    .thumbs {
      margin-top: 15px;
      .thumb {
        width: 14.5%;
        float: left;
        position: relative;
        margin: 0 1.6%;
        opacity: 0.5;
        &.active, &:hover {
          opacity: 1;
        }
        &:nth-child(1) {
          margin: 0;
        }
        &:nth-child(6) {
          margin: 0;
        }
        .mask {
          width: 100%;
          position: relative;
          z-index: 100;
          img {
            width: 100%;
            display: block;
          }
        }
        .visual {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border: 1px solid white;
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          overflow: hidden;
        }
      }
    }
  }
  .right {
    width: 42%;
    float: right;
    h1 {
      font-family: Novito;
      font-size: 40px;
      color: #292929;
      line-height: 46px;
      text-transform: uppercase;
      margin-top: 2px;
      margin-bottom: 15px;
      font-weight: normal;
    }
    .price {
      font-family: NovitoNova-Regular;
      font-size: 30px;
      color: #4A4A4A;
      line-height: 36px;
      text-transform: uppercase;
    }
    .text {
      font-family: Ubuntu-Light;
      font-size: 16px;
      color: #4A4A4A;
      letter-spacing: 0.69px;
      line-height: 20px;
    }
    .buy {
      margin-top: 58px;
    }
  }
  .recomended {
    margin-top: 86px;
    .title {
      font-family: Ubuntu-Light;
      font-size: 20px;
      color: #292929;
      line-height: 24px;
      text-transform: uppercase;
    }
    .corousel {
      .left-arrow, .right-arrow {
        width: 35px;
        height: 78px;
        display: inline-block;
        vertical-align: middle;
        background: red;
        position: absolute;
        top: 50%;
        margin-top: -24px;
        z-index: 200;
        background: url('../images/arrow-right.svg');
        background-position: center center;
        background-repeat: no-repeat;
        &:hover {
          background: url('../images/arrow-right-hover.svg');
        }
      }
      .left-arrow {
        left: 24px;
        @include transform(scaleX(-1));
      }
      .right-arrow {
        right: 24px;
      }
      .goods-list-wrapper {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        padding: 0 83px;
        box-sizing: border-box;
        position: relative;
        .holder {
          padding-top: 27px;
          overflow: hidden;
          width: 100%;
          .goods-list {
            transition: all .5s ease;
            position: relative;
            left: 0;
            .unit {
              margin-bottom: 0;
              .visual {
                .text {
                  font-size: 20px;
                  letter-spacing: 0.93px;
                  line-height: 26px;
                  padding-top: 14%;
                  @include max-screen(1040px) {
                    padding-top: 20px !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

form.filters {
  margin-top: 62px;
  .group {
    margin-bottom: 16px;
  }
  .title {
    font-family: Novito;
    font-size: 24px;
    color: #443522;
    line-height: 34px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    width: 100px;
  }
  label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 30px;
    .label {
      display: inline-block;
      vertical-align: middle;
      font-family: Ubuntu-Light;
      font-size: 14px;
      color: rgba(#443522, 0.6);
      line-height: 20px;
    }
    input {
      opacity: 0;
      &+ .label:before {
        width: 16px;
        height: 16px;
        background: url('../images/checkbox.svg');
        background-size: contain;
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: 2px;
      }
      &:checked + .label:before {
        background-image: url('../images/checkbox-on.svg');
      }
      &:checked ~ .label {
        color: rgba(#443522, 1);
      }
    }
    &:hover {
      .label {
        color: rgba(#443522, 1);
      }
    }
  }
}

.catalog-list {
  margin-top: 70px;
}

.pagination {
  font-family: Novito;
  font-size: 30px;
  color: #292929;
  line-height: 34px;
  text-align: center;
  list-style: none;
  display: inline-block;
  padding: 0;
  li {
    display: inline-block;
  }
  a {
    text-decoration: inherit;
    color: inherit;
    //margin: 0 12px;
    min-width: 36px;
    min-height: 36px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 3px;
    svg {
      stroke: #292929;
      display: inline-block;
      position: relative;
      top: -9px;
      height: 36px;
      margin-bottom: -9px;
    }
    &.active, &:hover {
      background-image: url('../images/bg-paginator-active.svg');
      color: white;
      svg {
        stroke: white;
      }
    }
  }
  .dots {
    margin: 0 12px;
    display: inline-block;
  }
}

.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(40,40,40,0.50);
  text-align: center;
  z-index: 1000;
  display: none;
  .vertical-fix {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .popup {
    display: none;
    width: 764px;
    height: 434px;
    background: white;
    display: inline-block;
    vertical-align: middle;
    background: url('../images/bg-order-final.svg');
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    .close {
      position: absolute;
      top: 70px;
      right: 60px;
      width: 45px;
      height: 45px;
      &:hover {
        opacity: 0.6;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .title {
      text-transform: uppercase;
      font-family: Ubuntu-Light;
      font-size: 32px;
      color: #292929;
      line-height: 37px;
      margin-top: 158px;
      margin-bottom: 69px;
    }
    a {
      text-decoration: none;
      &:hover {
        opacity: 0.6;
        .link {
          //text-decoration: underline;
        }
      }
      .link {
        font-family: Ubuntu-Light;
        font-size: 12px;
        color: #292929;
        line-height: 13px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: 10px;
        margin-right: 10px;
      }
      .paw {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}