.regular {
  width: 572px;
  margin: 0 auto;
  h2 {
    font-family: Novito;
    font-size: 48px;
    color: #292929;
    line-height: 55px;
    text-transform: uppercase;
    font-weight: normal;
  }
  p {
    font-family: Ubuntu-Light;
    font-size: 16px;
    color: #292929;
    line-height: 25px;
  }
}