extends layout

block content
  .regular
    h2 О вас
    p.
      Портал <nobr>LYALYA-GAV</nobr>.RU&nbsp;&mdash; это мастерская
      индивидуального заказа для ваших четвероногих друзей.
    p.
      Мы&nbsp;сошьем и&nbsp;свяжем для ваших любимцев все, что они пожелают. Вы&nbsp;можете
      выбрать модель из&nbsp;каталога заказов, а&nbsp;можете придумать
      сами&nbsp;&mdash; мы&nbsp;воплотим самые смелые ваши задумки.<br />
      И&nbsp;не&nbsp;только.
    p.
      Предлагаем вашим четвероногим любимцам стать
      моделями на&nbsp;нашем сайте. Для одних это станет сродни звездному часу,
      для других&nbsp;&mdash; эффективной рекламой и&nbsp;привлечением внимания
      уважаемой публики сайта, которая ширится день ото дня. Рядом
      с&nbsp;фотографией вашего чемпиона, носителя элитных кровей или просто
      красавца в&nbsp;одежде от&nbsp;Ляля Гав, мы&nbsp;можем разместить вашу
      контактную информацию. На&nbsp;случай, если кого из&nbsp;посетителей
      заинтересует сама модель.
    p.
      Ждем от&nbsp;вас дельных советов
      и&nbsp;предложений. Мы&nbsp;заинтересованы в&nbsp;сотрудничестве. Будь это
      предложения от&nbsp;магазинов о&nbsp;продаже одежды от&nbsp;Ляля Гав или,
      напротив, ваши оригинальные идеи и&nbsp;поделки для животных, которые
      мы&nbsp;готовы продвигать на&nbsp;нашем сайте <nobr>LYALYA-GAV.RU</nobr>
    h2 О нас
    p.
      Мастерская &laquo;Ляля Гав&raquo;&nbsp;&mdash; это территория
      обожания собак и&nbsp;всех остальных домашних животных, ради которых мы&nbsp;готовы
      на&nbsp;любые самые безумные, с&nbsp;рациональной точки зрения, поступки и&nbsp;действия.
      На&nbsp;этом можно было&nbsp;бы поставить точку, но, все&nbsp;же, постараемся придать
      нашему девизу некоторую конкретику, а&nbsp;сказанное выше можно рассматривать именно так.<br />
      ПРИНЦИП МАСТЕРСКОЙ &laquo;ЛЯЛЯ ГАВ&raquo;&nbsp;&mdash; У&nbsp;СОБАК ВСЕ ДОЛЖНО БЫТЬ,
      КАК У&nbsp;ЛЮДЕЙ. И&nbsp;ДАЖЕ ЛУЧШЕ.
    p.
      Свое вдохновение наши дизайнеры одежды для животных черпают в&nbsp;человеческой моде,
      стремясь сделать ее&nbsp;одновременно не&nbsp;только красивой, но&nbsp;и&nbsp;удобной,
      практичной, комфортной для носки.
    p.
      Особо подчеркиваем, что предлагаемые модели, за&nbsp;редким исключением,&nbsp;&mdash;
      это авторские разработки наших дизайнеров и&nbsp;технологов одежды. Наш фирменный стиль
      можно скопировать, но&nbsp;уже завтра все копии устареют и&nbsp;выйдут из&nbsp;моды.
      Поэтому лучше в&nbsp;гардеробе своего любимца иметь оригинал, а&nbsp;не&nbsp;грубую подделку.
    p.
      Одежда от&nbsp;<nobr>Lyalya-gav</nobr>.ru&nbsp;&mdash; это модно, красиво
      и&nbsp;комфортно! В&nbsp;одежде от&nbsp;Ляля Гав ваш питомец будет еще больше восхищать окружающих!
    p.
      Мы&nbsp;вяжем и&nbsp;шьем для той терьеров, йоркширских терьеров, такс,
      чихуахуа, китайских хохлатых, мопсов, пекинесов, пуделей, болонок, французских
      бульдожек и&nbsp;всех остальных маленьких и&nbsp;средних пород собак.
    p.
      Заказы принимаем на&nbsp;сайте круглосуточно семь дней в&nbsp;неделю.
      Все что от&nbsp;вас требуется&nbsp;&mdash; выбрать понравившуюся модель у&nbsp;нас
      в&nbsp;каталоге, либо прислать фото модели или эскиз одежды, которую вы&nbsp;желаете,
      чтобы мы&nbsp;изготовили для вашего питомца. Если в&nbsp;первом случае со&nbsp;стоимостью
      заказа все очевидно, она обозначена в&nbsp;каталоге, то&nbsp;во&nbsp;втором&nbsp;&mdash;
      мы&nbsp;ее&nbsp;предварительно согласуем с&nbsp;вами.
    p.
      Оплатить заказ вы&nbsp;можете сразу банковским переводом, при получении
      заказа наложенным платежом или наличкой в&nbsp;руки курьеру.
    p.
      И&nbsp;помните&nbsp;&mdash; одежда для вашего любимца должна не&nbsp;только
      радовать глаз, не&nbsp;только быть практичной и&nbsp;не&nbsp;стеснять его
      движений. Она должна подчеркивать достоинства животного и&nbsp;скрывать недостатки,
      ну, совсем, как у&nbsp;людей. И&nbsp;уж&nbsp;никак, в&nbsp;выбранной вами одежде,
      ваш питомец не&nbsp;должен выглядеть неким &laquo;попугаем&raquo;. Достоинство,
      элегантность и&nbsp;легкий шарм&nbsp;&mdash; вот стиль, который культивирует мастерская
      &laquo;Ляля Гав&raquo; и&nbsp;который предлагает вашим четвероногим членам семьи.
      
    h2 О нас с вами
    p.
      Расскажем, для большего понимания, откуда пошло наше
      &laquo;ляля гав&raquo; и&nbsp;что кроется за&nbsp;ним.
    p.
      Была весна. Гуляли мы&nbsp;по&nbsp;Пушкинской. Рядом,
      чуть впереди бежали наши чишки&nbsp;&mdash; маленькие и&nbsp;трогательные.
      Многие обращали на&nbsp;них внимание, невольно улыбались и&nbsp;награждали
      самыми разными эпитетами. Один парень даже поинтересовался:<br />
      &mdash;&nbsp;Чем хомячков так откормили?<br />
      Посчитали это вариантом традиционного вопроса: &laquo;Чем вы&nbsp;таких
      малышек кормите?&raquo;, поэтому и&nbsp;ответили традиционно:<br />
      &mdash;&nbsp;Икра красная, икра черная, коньячок&hellip;<br />
      Навстречу шла пара с&nbsp;крохой в&nbsp;коляске, сейчас даже не&nbsp;можем
      сказать, мальчиком или девочкой. От&nbsp;нее мы&nbsp;и&nbsp;услышали
      впервые это &laquo;лялягав&raquo;, когда она потянулась к&nbsp;пробегающим мимо собачкам.
    p.
      Сразу даже не&nbsp;поняли, не&nbsp;осмыслили, что ребенок
      не&nbsp;просто пролепетал нечто несвязанное, а, напротив, осознанно
      и&nbsp;точно дал определение тому, что увидел. Только на&nbsp;своем&nbsp;&mdash;
      на&nbsp;детском языку. Ляля гав&nbsp;&mdash; это&nbsp;же маленькая собачка.
    p.
      Когда встал вопрос о&nbsp;названии нашей торговой марки, вспомнили
      это мимолетно услышанное &laquo;лялягав&raquo; и, попробовав его &laquo;на&nbsp;вкус&raquo;,
      поняли, что это то, что надо.
    p.
      Эта история ярко демонстрирует, что наш сайт изначально был создан под
      впечатлением от&nbsp;случайной встречи, что мы&nbsp;готовы и&nbsp;способны
      прислушаться к&nbsp;любому вашему замечанию и&nbsp;предложению.
      Мы&nbsp;открыты для контакта, для новых встреч&nbsp;&mdash; и&nbsp;пусть
      их&nbsp;будет как можно больше.

