extends layout

block content
  .blog-list
    .unit
      a.visual-wrapper(href="blog-detail.html")
        .mask
          img(src="images/mask-main-slider.svg")
        .visual(style="background-image:url('images/slide-1.jpg');")
      .text
        a.title(href="blog-detail.html")
          h2 Платье тайландское
        time(datetime="2015-09-29") 29 октября 2014 г.
        .desc.
          <p>Платье велеколепного качества изготовленно в&nbsp;лучших традициях
          изготовки платьев, над одним платьем, в&nbsp;московских подвальных
          цехах трудятся 10 китайцев одновременно, скурполёзно вылизывая каждый
          шовчик так что ваш питомиц полюбит его больше чем валяться навашей
          кровати пока вы&nbsp;ушли на&nbsp;работу.</p>
      .clrfx
    .unit
      a.visual-wrapper(href="blog-detail.html")
        .mask
          img(src="images/mask-main-slider.svg")
        .visual(style="background-image:url('images/slide-1.jpg');")
      .text
        a.title(href="blog-detail.html")
          h2 Платье тайландское
        time(datetime="2015-09-29") 29 октября 2014 г.
        .desc.
          <p>Платье велеколепного качества изготовленно в&nbsp;лучших традициях
          изготовки платьев, над одним платьем, в&nbsp;московских подвальных
          цехах трудятся 10 китайцев одновременно, скурполёзно вылизывая каждый
          шовчик так что ваш питомиц полюбит его больше чем валяться навашей
          кровати пока вы&nbsp;ушли на&nbsp;работу.</p>
      .clrfx
    .unit
      a.visual-wrapper(href="blog-detail.html")
        .mask
          img(src="images/mask-main-slider.svg")
        .visual(style="background-image:url('images/slide-1.jpg');")
      .text
        a.title(href="blog-detail.html")
          h2 Платье тайландское
        time(datetime="2015-09-29") 29 октября 2014 г.
        .desc.
          <p>Платье велеколепного качества изготовленно в&nbsp;лучших традициях
          изготовки платьев, над одним платьем, в&nbsp;московских подвальных
          цехах трудятся 10 китайцев одновременно, скурполёзно вылизывая каждый
          шовчик так что ваш питомиц полюбит его больше чем валяться навашей
          кровати пока вы&nbsp;ушли на&nbsp;работу.</p>
      .clrfx
    include includes/paginator.jade