extends layout

block content
  .cart-detail(action='cart-confirm.html')
    h1 Оформление заказа
    .bar.top
      a(href="cart-goods.html") Товары в корзине
      img(src="images/ico-paginator-right.svg")
      a(href="cart-pet-data.html")Данные питомца
      img(src="images/ico-paginator-right.svg")
      a(href="cart-contacts.html") Контактные данные
      img(src="images/ico-paginator-right.svg")
      a(href="cart-pay.html") Способ оплаты
      img(src="images/ico-paginator-right.svg")
      a.active Подтверждение
    
    .confirmation
      section.consist
        h3 Состав заказа
        .row
          .key Платье тайландское:
          .val 1 шт. Х 1 600 РУБ.-
        .row
          .key Национальный костюм в трех основных Россиских цвета:
          .val 2 шт. Х 1 600 РУБ.-
      section.contacts
        h3 Контактные данные
        .row
          .key ФИО:
          .val Жужам Махмудахмадинеджад Махмудахмадинеджадович
        .row
          .key E-mail:
          .val Махмудахмад@Yandex.ru
        .row
          .key Адрес:
          .val Россия, г. Ростов-на-Дону, ул. Каспийская д.35 кв. 9
        .row
          .key Телефон:
          .val +7(928)172-39-29
      section.pet-data
        h3 Данные питомца
        .row.
            Порода: Красный гигант<br>
            Пол: Кобель<br>
            Обхват шеи: 900<br>
            Обхват груди: 670<br>
            Длина спины: 6<br>
            Обхват передней лапы: 3,5<br>
            От шеи до передней лапы: 0<br>
            Между передними лапами: хвост<br>
      section.total-conf
        h3 Ваш заказ
        h3.numbers 4 923 руб.-
        .row
          .key Сумма заказа
          .val 4 800 руб.-
        .row
          .key Доставка и обслуживание
          .val 123 руб.-
      center
        a.btn.final(href="final.html") Отправить заказ