.goods-list
  a.unit(href="catalog-detail.html")
    .mask
      img(src="images/mask-main-slider.svg")
    .visual(style="background-image:url('http://dummyimage.com/752x456');")
      .text
        p НАЦИОНАЛЬНЫЙ КОСТЮМ РУЧНОЙ РАБОТЫ В ТРЕХ ОСНОВНЫХ РОССИЙСКИХ ЦВЕТА
        .price 650 РУБ. -
  a.unit.new(href="catalog-detail.html")
    .mask
      img(src="images/mask-main-slider.svg")
    .visual(style="background-image:url('http://dummyimage.com/752x456');")
      .text
        p НАЦИОНАЛЬНЫЙ КОСТЮМ РУЧНОЙ РАБОТЫ В ТРЕХ ОСНОВНЫХ РОССИЙСКИХ ЦВЕТА СНОВНЫХ РОССИЙСКИХ ЦВЕТА
        .price 600 РУБ. -
  a.unit(href="catalog-detail.html")
    .mask
      img(src="images/mask-main-slider.svg")
    .visual(style="background-image:url('http://dummyimage.com/752x456');")
      .text
        p НАЦИОНАЛЬНЫЙ КОСТЮМ РУЧНОЙ РАБОТЫ В ТРЕХ ОСНОВНЫХ РОССИЙСКИХ ЦВЕТА
        .price 600 РУБ. -
  a.unit(href="catalog-detail.html")
    .mask
      img(src="images/mask-main-slider.svg")
    .visual(style="background-image:url('http://dummyimage.com/752x456');")
      .text
        p НАЦИОНАЛЬНЫЙ КОСТЮМ РУЧНОЙ РАБОТЫ В ТРЕХ ОСНОВНЫХ РОССИЙСКИХ ЦВЕТА СНОВНЫХ РОССИЙСКИХ ЦВЕТА
        .price 600 РУБ. -
  a.unit(href="catalog-detail.html")
    .mask
      img(src="images/mask-main-slider.svg")
    .visual(style="background-image:url('http://dummyimage.com/752x456');")
      .text
        p НАЦИОНАЛЬНЫЙ КОСТЮМ РУЧНОЙ РАБОТЫ В ТРЕХ ОСНОВНЫХ РОССИЙСКИХ ЦВЕТА
        .price 600 РУБ. -
  a.unit(href="catalog-detail.html")
    .mask
      img(src="images/mask-main-slider.svg")
    .visual(style="background-image:url('http://dummyimage.com/752x456');")
      .text
        p НАЦИОНАЛЬНЫЙ КОСТЮМ РУЧНОЙ РАБОТЫ В ТРЕХ ОСНОВНЫХ РОССИЙСКИХ ЦВЕТА СНОВНЫХ РОССИЙСКИХ ЦВЕТА
        .price 600 РУБ. -
  .clrfx

include includes/paginator.jade