extends layout

block content
  .catalog-detail
    .left
      .slider-wrapper
        .mask
          img(src="images/mask-main-slider.svg")
        .slider-holder
          ul.slider-list
            li(style="background-image:url('images/slide-1.jpg');")
            li(style="background-image:url('http://newsinphoto.ru/wp-content/uploads/2011/01/dogs_1801.jpg');")
            li(style="background-image:url('http://www.formydogs.ru/pics/DSC_0587z.jpg');")
            li(style="background-image:url('images/slide-1.jpg');")
            li(style="background-image:url('http://newsinphoto.ru/wp-content/uploads/2011/01/dogs_1801.jpg');")
            li(style="background-image:url('http://www.formydogs.ru/pics/DSC_0587z.jpg');")
      .thumbs
        a.thumb(href="")
          .mask
            img(src="images/mask-main-slider.svg")
          .visual(style="background-image:url('http://dummyimage.com/752x456');")
        a.thumb(href="")
          .mask
            img(src="images/mask-main-slider.svg")
          .visual(style="background-image:url('http://dummyimage.com/752x456');")
        a.thumb(href="")
          .mask
            img(src="images/mask-main-slider.svg")
          .visual(style="background-image:url('http://dummyimage.com/752x456');")
        a.thumb(href="")
          .mask
            img(src="images/mask-main-slider.svg")
          .visual(style="background-image:url('http://dummyimage.com/752x456');")
        a.thumb(href="")
          .mask
            img(src="images/mask-main-slider.svg")
          .visual(style="background-image:url('http://dummyimage.com/752x456');")
        a.thumb(href="")
          .mask
            img(src="images/mask-main-slider.svg")
          .visual(style="background-image:url('http://dummyimage.com/752x456');")
    .right
      h1 Платье тайландское
      .price 1600 Руб.-
      .text.
        <p>Платье велеколепного качества изготовленно в&nbsp;лучших традициях
        изготовки платьев, над одним платьем, в&nbsp;московских подвальных цехах
        трудятся 10 китайцев одновременно, скурполёзно вылизывая каждый шовчик
        так что ваш питомиц полюбит его больше чем валяться навашей кровати пока
        вы&nbsp;ушли на&nbsp;работу.</p>
      a.btn.buy(href="linktobackend" data-id="2")
        Купить
    .clrfx
    
    .recomended
      .title Рекомендуем
      .corousel
        .goods-list-wrapper
          a.left-arrow(href="")
          .holder
            .goods-list
              a.unit(href="catalog-detail.html")
                .mask
                  img(src="images/mask-main-slider.svg")
                .visual(style="background-image:url('http://dummyimage.com/752x456');")
                  .text
                    p НАЦИОНАЛЬНЫЙ КОСТЮМ РУЧНОЙ РАБОТЫ В ТРЕХ ОСНОВНЫХ РОССИЙСКИХ ЦВЕТА
                    .price 600 РУБ. -
              a.unit(href="catalog-detail.html").new
                .mask
                  img(src="images/mask-main-slider.svg")
                .visual(style="background-image:url('http://dummyimage.com/752x456');")
                  .text
                    p НАЦИОНАЛЬНЫЙ КОСТЮМ РУЧНОЙ РАБОТЫ В ТРЕХ ОСНОВНЫХ РОССИЙСКИХ ЦВЕТА СНОВНЫХ РОССИЙСКИХ ЦВЕТА
                    .price 600 РУБ. -
              a.unit(href="catalog-detail.html")
                .mask
                  img(src="images/mask-main-slider.svg")
                .visual(style="background-image:url('http://dummyimage.com/752x456');")
                  .text
                    p НАЦИОНАЛЬНЫЙ КОСТЮМ РУЧНОЙ РАБОТЫ В ТРЕХ ОСНОВНЫХ РОССИЙСКИХ ЦВЕТА
                    .price 600 РУБ. -
              a.unit(href="catalog-detail.html")
                .mask
                  img(src="images/mask-main-slider.svg")
                .visual(style="background-image:url('http://dummyimage.com/752x456');")
                  .text
                    p НАЦИОНАЛЬНЫЙ КОСТЮМ РУЧНОЙ РАБОТЫ В ТРЕХ ОСНОВНЫХ РОССИЙСКИХ ЦВЕТА СНОВНЫХ РОССИЙСКИХ ЦВЕТА
                    .price 600 РУБ. -
              a.unit(href="catalog-detail.html")
                .mask
                  img(src="images/mask-main-slider.svg")
                .visual(style="background-image:url('http://dummyimage.com/752x456');")
                  .text
                    p НАЦИОНАЛЬНЫЙ КОСТЮМ РУЧНОЙ РАБОТЫ В ТРЕХ ОСНОВНЫХ РОССИЙСКИХ ЦВЕТА
                    .price 600 РУБ. -
              a.unit(href="catalog-detail.html")
                .mask
                  img(src="images/mask-main-slider.svg")
                .visual(style="background-image:url('http://dummyimage.com/752x456');")
                  .text
                    p НАЦИОНАЛЬНЫЙ КОСТЮМ РУЧНОЙ РАБОТЫ В ТРЕХ ОСНОВНЫХ РОССИЙСКИХ ЦВЕТА СНОВНЫХ РОССИЙСКИХ ЦВЕТА
                    .price 600 РУБ. -
              .clrfx
          a.right-arrow(href="")