extends layout

block content
  .slider-wrapper
    .mask
      img(src="images/mask-main-slider.svg")
      .dots
        a(href="")
        a(href="")
        a(href="")
    .slider-holder
      ul.slider-list
        li(style="background-image:url('images/slide-1.jpg');")
        li(style="background-image:url('http://newsinphoto.ru/wp-content/uploads/2011/01/dogs_1801.jpg');")
        li(style="background-image:url('http://www.formydogs.ru/pics/DSC_0587z.jpg');")

  .goods-list
    a.unit(href="catalog-detail.html")
      .mask
        img(src="images/mask-main-slider.svg")
      .visual(style="background-image:url('http://dummyimage.com/752x456');")
        .text
          p НАЦИОНАЛЬНЫЙ КОСТЮМ РУЧНОЙ РАБОТЫ В ТРЕХ ОСНОВНЫХ РОССИЙСКИХ ЦВЕТА
          .price 600 РУБ. -
    a.unit.new(href="catalog-detail.html")
      .mask
        img(src="images/mask-main-slider.svg")
      .visual(style="background-image:url('http://dummyimage.com/752x456');")
        .text
          p НАЦИОНАЛЬНЫЙ КОСТЮМ РУЧНОЙ РАБОТЫ В ТРЕХ ОСНОВНЫХ РОССИЙСКИХ ЦВЕТА СНОВНЫХ РОССИЙСКИХ ЦВЕТА
          .price 600 РУБ. -
    a.unit(href="catalog-detail.html")
      .mask
        img(src="images/mask-main-slider.svg")
      .visual(style="background-image:url('http://dummyimage.com/752x456');")
        .text
          p НАЦИОНАЛЬНЫЙ КОСТЮМ РУЧНОЙ РАБОТЫ В ТРЕХ ОСНОВНЫХ РОССИЙСКИХ ЦВЕТА
          .price 600 РУБ. -
    a.unit(href="catalog-detail.html")
      .mask
        img(src="images/mask-main-slider.svg")
      .visual(style="background-image:url('http://dummyimage.com/752x456');")
        .text
          p НАЦИОНАЛЬНЫЙ КОСТЮМ РУЧНОЙ РАБОТЫ В ТРЕХ ОСНОВНЫХ РОССИЙСКИХ ЦВЕТА СНОВНЫХ РОССИЙСКИХ ЦВЕТА
          .price 600 РУБ. -
    a.unit(href="catalog-detail.html")
      .mask
        img(src="images/mask-main-slider.svg")
      .visual(style="background-image:url('http://dummyimage.com/752x456');")
        .text
          p НАЦИОНАЛЬНЫЙ КОСТЮМ РУЧНОЙ РАБОТЫ В ТРЕХ ОСНОВНЫХ РОССИЙСКИХ ЦВЕТА
          .price 600 РУБ. -
    a.unit(href="catalog-detail.html")
      .mask
        img(src="images/mask-main-slider.svg")
      .visual(style="background-image:url('http://dummyimage.com/752x456');")
        .text
          p НАЦИОНАЛЬНЫЙ КОСТЮМ РУЧНОЙ РАБОТЫ В ТРЕХ ОСНОВНЫХ РОССИЙСКИХ ЦВЕТА СНОВНЫХ РОССИЙСКИХ ЦВЕТА
          .price 600 РУБ. -
    .clrfx
  
  .info-text
    .text-wrapper
      h1 Интернет магазин - лялягав
      .text
        p.
          Далеко-далеко за словесными горами в стране гласных и согласных живут
          рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
          Семантика большого языкового океана. Маленький ручеек Даль журчит по
          всей стране и обеспечивает ее всеми необходимыми правилами.
        p.
          Далеко-далеко за словесными горами в стране гласных и согласных живут
          рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
          Семантика большого языкового океана. Маленький ручеек Даль журчит по
          всей стране и обеспечивает ее всеми необходимыми правилами.
      img.visual-dog(src="images/visual-dog.png")