footer
  .left
    .c © Ляля-гав<br> Ростов-на-Дону, 2015 <small>год</small><br>
      a(href="tel:+7 (863) 263-81-59") (863) 263-81-59<br>
      a(href="mailto:лялягав@mail.ru")лялягав@mail.ru<br>
    .links
      a(href="") Правила и условия
      a(href="") Политика конфиденциальности
      a(href="") Чато задаваемые вопросы
  .right
    .socials
      a(href="", target="_blank")
        img(src="images/ico-fb.svg")
      a(href="", target="_blank")
        img(src="images/ico-insta.svg")
      a(href="", target="_blank")
        img(src="images/ico-vk.svg")
      a(href="", target="_blank")
        img(src="images/ico-skype.svg")
    .grphm Сделано в 
      a(href="http://grapheme.ru/", target="_blank") Графема
  .clrfx