header
  nav
    ul
      li
        a.active(href="index.html")
          img.logo(src="images/logo_light.svg")
      li
        a(href="catalog.html") Каталог
      li
        a(href="about.html") О нас
      li
        a(href="blog.html") Блог
  .right
    .phone
      a(href="tel:+7 (863) 263-81-59") +7 (863) 263-81-59
    a.cart(href="cart-goods.html")
      .count 1
      .ico
        img(src="images/cart-ico.svg")
  .clrfx