.paginator
  a(href='?page-prev')
    img(src='images/ico-paginator-left.svg')
  ul.pagination
    li.disabled
      span «
    li.active
      span 1
    li
      a(href='http://lalagav.dev/blog?page=2') 2
    li
      a(href='http://lalagav.dev/blog?page=2', rel='next') »
  a(href='?page-next')
    img(src='images/ico-paginator-right.svg')
    
.paginator
  a(href="?page-prev")
    img(src='images/ico-paginator-left.svg')
  a.active(href="?page-1") 1
  a(href="?page-2") 2
  a(href="?page-3") 3
  a(href="?page-4") 4
  a(href="?page-5") 5
  span.dots ...
  a(href="?page-16") 16
  a(href="?page-17") 17
  a(href="?page-18") 18
  a(href="?page-next")
    img(src='images/ico-paginator-right.svg')